<template>
<div class="container">
<div class="row">
<spinner v-show="loading"></spinner>
    <div class="col-sm" v-for="pokemon in pokemons">
    <div class="card text-center" style="width: 18rem; margin-top:70px;">
    <img style="width:100px; height:100px; background:#efefef; margin:20px;" class="card-img-top rounded-circle mx-auto d-block" src="images/" >
    <div class="card-body">
      <h5 class="card-title">{{pokemon.name}}</h5>
      <p class="card-text">Lorem Ipsu</p>
      <a href="/trainers/" class="btn btn-primary">Ver mas..</a>
        </div>
    </div>
</div>
</div>
</div>
</template>

<script>
export default {

        data(){
            return{
            pokemons:[],
            loading:true
               
               }
            },
        mounted() {
            axios
            .get('http://127.0.0.1:8000/pokemons')
            .then((res)=>{
            this.pokemons = res.data 
            this.loading=false
            })
            }
    }
</script>